html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #414f30;
  height: 100vh;
  width: 100%;
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: center;
}

h1 {
  font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
  color: #fefae0;
}

.js-col {
  background-color: #fefae0;
  border: 1px solid #000;
  flex: 1;
  margin: 0;
  padding: 0;
}

.js-row {
  display: flex;
  width: 100%;
  flex: 1;
}

.settings {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form {
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-size: 18px;
  color: #fefae0;
  margin: 0;
}

input {
  margin-left: 2px;
  margin-right: 4px;
}

.prompt {
  font-size: 16px;
  color: #606c38;
}

button {
  background-color: #fefae0;
  border-style: solid;
  border-radius: 4px;
}

.grid-canvas {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  height: 500px;
  width: 500px;
  border: 10px solid #606c38;
  border-radius: 12px;
  background-color: #fefae0;
  margin-top: 10px;
  margin-bottom: 10px;
}
